.fh5co-cover {
    height: 720px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}
.fh5co-cover .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #e0e0e0;
    background: -moz-linear-gradient(-45deg, #e0e0e0 0%, rgba(155, 77, 202, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #e0e0e0), color-stop(100%, rgba(155, 77, 202, 1)));
    background: -webkit-linear-gradient(-45deg, #e0e0e0 0%, rgba(155, 77, 202, 1) 100%);
    background: -o-linear-gradient(-45deg, #e0e0e0 0%, rgba(155, 77, 202, 1) 100%);
    background: -ms-linear-gradient(-45deg, #e0e0e0 0%, rgba(155, 77, 202, 1) 100%);
    background: linear-gradient(135deg, #e0e0e0 0%, rgba(155, 77, 202, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#005789', GradientType=1 );
}

.loginContainer{

    width: 100%;
    max-width: 400px;
    margin: 80px auto;
}


.loginBox{
    background: #fff;
    padding: 48px;
    background-color: white;
    transition: 3ms;
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}